<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>KarinePires.com</title>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style type="text/css">
{% capture include_to_scssify %}
  {% include style.scss %}
{% endcapture %}
{{ include_to_scssify | scssify }}
</style>
</head>

<body>
  <div id="home">
    <div id="homein">
    <img src="https://s.gravatar.com/avatar/91351eeb53e8b56ff128cf9873d0fcfb?s=90" class="avatar">
    <h1>Karine Pires</h1>    
    <h2><span>PhD candidate</span> on Multimedia Distributed Systems</h2>
    <h2>and <span>passionate developer</span> located in Paris</h2>
    <div class="social">
      <a class="social-gh" href="https://github.com/karinepires" target="_blank"><i class="fa fa-github fa-5x"></i></a>
      <a class="social-t" href="https://twitter.com/karinepires" target="_blank"><i class="fa fa-twitter fa-5x"></i></a>
      <a class="social-e"><i class="fa fa-envelope fa-5x"></i></a>
    </div>
    </div>
  </div>
  <div id="sections">
  <div class="sec">
  <hr />
  <div class="secin">
    <h3>Education</h3>

    <h4><strong>Université Pierre et Marie Curie</strong>, Paris, France. <span>2012 – present</span></h4>
    <h4><strong>Telecom Bretagne</strong>, Rennes, France.</h4>
    <h5>PhD degree in Computer Science</h5>
    <ul>
    <li>
    Orchestration of multiple machines and creation of tools to continuously (each 5 minutes over several months) interact with justin.tv and YouTube Live APIs. Proficiency on programing and scripting languages (PHP, Python, R) and manipulation of SQLite sharded databases in order to extract analytical information from APIs  data.
    </li>
    <li>
    Development with Python and C++ to solve ILP with CPLEX library.
    </li>
    <li>
    Usage of multiple version control/sharing tools (GIT, SVN, DropBox, Google Drive) applied for different projects and teams collaborations.
    </li>
    <li>
    Participation on the organization of SBAC-PAD 2014 conference.
    </li>
    <li>
    Tutoring, during 6 months, of two students in a program entitled “Project S5” at Telecom Bretagne. They developed a linux tool on Qt/C++ for DASH bandwidth estimation.
    </li>
    <li>
    Thesis advisors: Dr. Sébastien Monnet and Dr. Gwendal Simon. 
    </li>
    <li>
    Participation in two teams: Regal research group of LIP6 and INRIA-Rocquencourt at UPMC; Networks, Security, Multimedia Department at Telecom Bretagne.
    </li>
    </ul>

    <h4><strong>Universidade Federal do Paraná</strong>, Curitiba, Brazil. <span>2009 – 2011</span></h4>
    <h5>Master’s degree in Information Technology.</h5>
    <ul>
    <li>
    Attended to networks and distributed systems classes.
    </li>
    </ul>

    <h4><strong>Universidade Federal do Paraná</strong>, Curitiba, Brazil. <span>2004 – 2007</span></h4>
    <h5>BS in Computer Science.</h5>
    <ul>
    <li>
    Participated as a member of a research group with scholarship.
    </li>
    <li>
    Worked as a volunteer alumnist at the yearly presentations for new students.
    </li>
    </ul>

    </div>
  <hr />
  <div class="secin">
    <h3>Professional Experience</h3>

    <h4><strong>No Zebra Network Ltd.</strong>, Curitiba, Brazil. <span>2007 – 2011</span></h4>
    <h5>Development Manager</h5>
    <ul>
      <li>
      Managed tasks, employees and technical interviews of the development department.</li>
      <li>
      Project analysis and development, created diagrams, documented projects, designed wireframes, planning and deployment on production servers, with languages like RoR, PHP and MySQL database. Optimization for large scale web applications, caching strategies, Varnish and Apache server configuration. Administration and maintenance of Web servers on Linux, backups, monitoring server services and availability. </li>
      <li>
      Produced HTML/CSS pages from PSD files compatible with all main browsers and devices (IE, FF, Chrome, Safari, Android, iPhone, iPad, etc).  Create advanced dynamic pages with JavaScript, AJAX and JS frameworks as JQuery and JqueryUI.</li>
    </ul>
    
    <h4><strong>PET Computação UFPR</strong>, Curitiba, Brazil. <span>2004 – 2006</span></h4>
    <h5>Member of PET Computação UFPR with scholarship</h5>
    <p>Participation in research activities; Instructor of PHP/MySQL Courses offered to graduate students; Creation and maintenance of intranet Web systems.</p>
  </div>
  <hr />
  <div class="secin">
    <h3>Publications</h3>
    <ul>
    <li>
    PIRES, K. ; MONNET, S. ; SENS, P. . <strong>POPS: a popularity-aware live streaming service.</strong> ICPADS. 2014.
    </li>
    <li>
    PIRES, K. ; SIMON, G. . <strong>DASH in Twitch: Adaptive Bitrate Streaming in Live Game Streaming Platforms.</strong> VideoNext. 2014.
    </li>
    <li>
    MAILLÉ, P. ; PIRES, K. ; SIMON, G. ; TUFFIN, B. . <strong>How Neutral is a CDN? An Economic Approach.</strong> CNSM. 2014.
    </li>
    <li>
    LAURA, T. ; APARICIO-PARDO, R. ; PIRES, K. ; SIMON, G. ; BLANC, A. ; FROSSARD, P. . <strong>Optimal Selection of Adaptive Streaming Representations.</strong> TOMM. 2014.
    </li>
    <li>
    PIRES, K. ; MONNET, S. ; SENS, P. . <strong>POPS : service de diffusion de flux vidéos live prenant en compte la popularité.</strong> COMPAS. 2014.
    </li>
    <li>
    PIRES, K. ; SIMON, G. . Book chapter entitled <strong>Interactive Multimedia Applications on Clouds: Video services, games, others.</strong> (to be published).
    </li>
    <li>
    DUARTE JR., E. P. ; PIRES, K. ; TAVARES, R. A. E. . <strong>An Efficient Strategy for Storing and Searching Binary Trees in WORM External Memory.</strong> Journal of Information Science, v. 36, p. 751 - 762, 05 nov. 2010.
    </li>
    <li>
    PIRES, K. ; COHEN, J. ; DUARTE JR., E. P. . <strong>Medidas de Conectividade Baseadas em Cortes de Vértices Para Redes Complexas.</strong> XII WTTF. 2011.
    </li>
    </ul>
  </div>
  <hr />
  <div class="secin">
    <h3>Languages</h3>
    <p class="tac">English: fluent (speaking, reading, writing); French: intermediate (speaking, reading); basic (writing); Portuguese: native language.</p>
  </div>
  </div>
  <div id="footer">
    <div>✩ Coding passion and continuous learning towards the conception of tools that meet people dreams ✩</div>
    <div>© Copyright Karine Pires, {{ site.time | date: "%Y" }}</div>
    <div class="dn">64,109,97,105,108,116,111,46,99,111,109,58</div>
  </div>
  <script type="text/javascript">
  <!--
  // This is a very bad code on purpose //
  var chrs = $('#footer .dn').text().split(',');
  var parts = $('#home h1').text().split(' ');
  $('.social-e').attr('href', String.fromCharCode(chrs[1],chrs[2],chrs[3],chrs[4],chrs[5],chrs[6],chrs[11]) + parts[0] + String.fromCharCode(chrs[0]) + parts[0] + parts[1] + String.fromCharCode(chrs[7],chrs[8],chrs[9],chrs[10]));
  -->
  </script>
  </div>
</body>
</html>