<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>KarinePires.com</title>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style type="text/css">
{% capture include_to_scssify %}
  {% include style.scss %}
{% endcapture %}
{{ include_to_scssify | scssify }}
</style>
</head>

<body>
  <div id="home">
    <div id="homein">
    <img src="https://s.gravatar.com/avatar/91351eeb53e8b56ff128cf9873d0fcfb?s=90" alt="Karine Pires avatar" class="avatar">
    <h1>Karine Pires</h1>
    <h2><span>PhD candidate</span> on Multimedia Distributed Systems</h2>
    <h2>and <span>passionate developer</span> located in Paris</h2>
    <div class="social">
      <a class="social-gh" href="https://github.com/karinepires" target="_blank"><em class="fa fa-github fa-5x"></em></a>
      <a class="social-t" href="https://twitter.com/karinepires" target="_blank"><em class="fa fa-twitter fa-5x"></em></a>
      <a class="social-e"><em class="fa fa-envelope fa-5x"></em></a>
    </div>
    </div>
  </div>
  <div id="sections">
  <div class="sec">
  <hr />
  <div class="secin">
    <h3>Education</h3>

    <h4><strong>Université Pierre et Marie Curie</strong>, Paris, France. <span>2012 – present</span></h4>
    <h4><strong>Telecom Bretagne</strong>, Rennes, France.</h4>
    <h5>Ph.D. in Computer Science</h5>
    <ul>
    <li>
    Thesis title: Delivery, Transcoding and Neutrality on Large Live Streaming Systems. Advisors: Dr. Sébastien Monnet and Dr. Gwendal Simon.
    </li>
    <li>
    Orchestration of multiple machines and creation of tools (PHP, Python and R) to interact with Twitch and YouTube APIs, in order to retrieve live streaming systems snapshots.
    </li>
    <li>
    Development with CPLEX IBM (on Python and C++) to solve ILP of hybrid live stream delivery.
    </li>
    <li>
    Tutoring two students that developed a tool on Qt/C++ for DASH bandwidth estimation.
    </li>
    <li>
    Participation as volunteer on the organization of SBAC-PAD 2014 conference.
    </li>
    <li>
    Attended as participant at HTDC 2012, IMC 2013 (with student grant) and WOS3, and as speaker at COMPAS 2014, CNSM 2014 and ICPADS 2014
    </li>
    </ul>

    <h4><strong>Universidade Federal do Paraná</strong>, Curitiba, Brazil. <span>2009 – 2011</span></h4>
    <h5>Master’s degree in Information Technology.</h5>
    <ul>
    <li>
    Dissertation title: Connectivity Measures Based on Vertex Cuts Applied to Complex Networks (dissertation in Portuguese). Advisor: Dr. Elias P. Duarte Jr.
    </li>
    <li>
    Participation on evaluation experiments at secondary research topic entitled "An Efficient Strategy for Storing and Searching Binary Trees in WORM External Memory".
    </li>
    <li>
    Attended as participant to SBRC 2011 and as speaker at WTF 2011.
    </li>
    </ul>

    <h4><strong>Universidade Federal do Paraná</strong>, Curitiba, Brazil. <span>2004 – 2007</span></h4>
    <h5>BS in Computer Science.</h5>
    <ul>
    <li>
    Dissertation title: A Hybrid TCP/UDP Audio Application and a New Protocol for POTS Streaming (dissertation in Portuguese). Advisor: Dr. Elias P. Duarte Jr.
    </li>
    <li>
    Participated as a member of a research group with scholarship.
    </li>
    <li>
    Volunteer alumnist at the yearly presentations for new students.
    </li>
    </ul>

    </div>
  <hr />
  <div class="secin">
    <h3>Professional Experience</h3>

    <h4><strong>No Zebra Network Ltd.</strong>, Curitiba, Brazil. <span>2007 – 2011</span></h4>
    <h5>Development Manager</h5>
    <ul>
      <li>
      Managed two teams (design and development), their projects and technical interviews.
      </li>
      <li>
      Maintained and created large scale websites (millions views monthly) with PHP, RoR and MySQL.
      </li>
      <li>
      Deployed many optimizations such as caching strategies, Varnish and Apache server configuration.
      Administrated Linux servers with backups, monitoring tools with high availability requirements.
      </li>
    </ul>



    <h4><strong>PET Computação UFPR</strong>, Curitiba, Brazil. <span>2004 – 2006</span></h4>
    <h5>Member of PET Computação UFPR with scholarship</h5>
    <ul>
      <li>
      Instructed PHP/MySQL classes and elaborated the book for this teaching.
      </li>
      <li>
      Maintained group website and created internal tools as library system and courses administration.
      </li>
      <li>
      Actively participated to local, regional and national meetings as group representative.
      </li>
    </ul>
  </div>
  <hr />
  <div class="secin">
    <h3>Publications</h3>
    <ul>
    <li>
    SILVESTRE, G.; BUFFONI, D.; PIRES, K.; MONNET, S.; SENS, P. . <strong>Boosting Streaming Video Delivery with WiseReplica. </strong> TLDKS. 2015.
    </li>
    <li>
    APARICIO-PARDO, R.; PIRES, K.; BLANC, A.; SIMON, G. . <strong>Transcoding Live Adaptive Video Streams at a Massive Scale in the Cloud.</strong>  MMSyS. 2015.
    </li>
    <li>
    PIRES, K.; SIMON, G. . <strong>YouTube Live and Twitch: A Tour of User-Generated Live Streaming Systems. </strong> MMSyS Data Set. 2015.
    </li>
    <li>
    PIRES, K. ; MONNET, S. ; SENS, P. . <strong>POPS: a popularity-aware live streaming service.</strong> ICPADS. 2014.
    </li>
    <li>
    PIRES, K. ; SIMON, G. . <strong>DASH in Twitch: Adaptive Bitrate Streaming in Live Game Streaming Platforms.</strong> VideoNext. 2014.
    </li>
    <li>
    MAILLÉ, P. ; PIRES, K. ; SIMON, G. ; TUFFIN, B. . <strong>How Neutral is a CDN? An Economic Approach.</strong> CNSM. 2014.
    </li>
    <li>
    LAURA, T. ; APARICIO-PARDO, R. ; PIRES, K. ; SIMON, G. ; BLANC, A. ; FROSSARD, P. . <strong>Optimal Selection of Adaptive Streaming Representations.</strong> TOMM. 2014.
    </li>
    <li>
    PIRES, K. ; MONNET, S. ; SENS, P. . <strong>POPS : service de diffusion de flux vidéos live prenant en compte la popularité.</strong> COMPAS. 2014.
    </li>
    <li>
    PIRES, K. ; SIMON, G. . Book chapter entitled <strong>Interactive Multimedia Applications on Clouds: Video services, games, others.</strong> (to be published).
    </li>
    <li>
    DUARTE JR., E. P. ; PIRES, K. ; TAVARES, R. A. E. . <strong>An Efficient Strategy for Storing and Searching Binary Trees in WORM External Memory.</strong> Journal of Information Science, v. 36, p. 751 - 762, 05 nov. 2010.
    </li>
    <li>
    PIRES, K. ; COHEN, J. ; DUARTE JR., E. P. . <strong>Medidas de Conectividade Baseadas em Cortes de Vértices Para Redes Complexas.</strong> XII WTTF. 2011.
    </li>
    </ul>
  </div>
  <hr />
  <div class="secin">
    <h3>Languages</h3>
    <p class="tac">English: fluent (speaking, reading, writing); French: intermediate (speaking, reading); basic (writing); Portuguese: native language.</p>
  </div>
  </div>
  <div id="footer">
    <div>✩ Coding passion and continuous learning towards the conception of tools that meet people dreams ✩</div>
    <div>© Copyright Karine Pires, {{ site.time | date: "%Y" }}</div>
    <div class="dn">64,109,97,105,108,116,111,46,99,111,109,58</div>
  </div>
  <script type="text/javascript">
  <!--
  // This is a very bad code on purpose //
  var chrs = $('#footer .dn').text().split(',');
  var parts = $('#home h1').text().split(' ');
  $('.social-e').attr('href', String.fromCharCode(chrs[1],chrs[2],chrs[3],chrs[4],chrs[5],chrs[6],chrs[11]) + parts[0] + String.fromCharCode(chrs[0]) + parts[0] + parts[1] + String.fromCharCode(chrs[7],chrs[8],chrs[9],chrs[10]));
  -->

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-5358126-13', 'auto');
  ga('send', 'pageview');

</script>
  </div>
</body>
</html>